
<body>

<div id="page">
<% if @budget.errors.present? %>
  <h3>エラーがあります。</h3>
  <ul>
    <% @budget.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  
  <header>
    header
  </header>
  
  <div id="contents">
  
    <div class="form">
    <%= form_with(model: @budget, local: true) do |f| %>
      <table>
        <tr>
          <td><%= f.label :date %></td>
          <td><%= f.date_field :date %></td>
        </tr>
        <tr>
          <td><%= f.label :expend %></td>
          <td><%= f.text_field :expend %></td>
        </tr>
        <tr>
          <td><%= f.label :income %></td>
          <td><%= f.text_field :income %></td>
        </tr>
      </table>
        <%= f.submit %>
    <% end %>
    </div>

  </div>

</div>

</body>
